<!DOCTYPE html>
<html>
<head>
    <title>Image Compression</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload an Image to Compress</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <input type="number" name="k" value="16" min="1" required>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
